Repository strideynet/bsky-furry-feed, pull requests merged in 2024-11, with the labels that each got.

#269 Refactor feed queries to fix text posts in video feeds
  feed/feed.go
  feed/feed_test.go
  store/gen/candidate_posts.sql.go
  store/postgres.go
  store/queries/candidate_posts.sql
Labels: bug, backend

#280 Add avatar loading animation
  web/admin/assets/css/main.css
  web/admin/components/shared/avatar.vue
  web/admin/components/user-card.vue
Labels: frontend:admin

#282 [web/info] Upgrade SvelteKit to v2.5
  web/info/package.json
  web/info/svelte.config.js
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend:info

#291 Fix user without avatar is shows loading animation
  web/admin/components/shared/avatar.vue
Labels: bug, frontend:admin
